@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Segoe%20UI&family=Roboto&family=Oxygen&family=Ubuntu&family=Cantarell&family=Fira+sans&family=Droid+Sans&family=Helvetic+Neue&family=sans+serif&family=Fira+Code");
@font-face {
  font-family: "SF Pro Text";
  src: url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text")
      format("svg"); /* iOS 4.1- */
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
#root > * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: normal;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.App {
  width: 100%;
  height: 100%;
}
